<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Post Not Found</title>
</head>

<body>
    <h1>Post Not Found</h1>
    <p>The requested post was not found. Please try another post.</p>
</body>

</html>